/* css reset from week 7 lecture powerpoint. */
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* whole page changes */
html,
body {
    color: #4D665B;
    font-family: 'Cinzel', serif;
    scroll-behavior: smooth;
}

.page-wrapper {
    opacity: 1;
    -webkit-transition: fadein 3s;
    -moz-transition: fadein 3s;
    -ms-transition: fadein 3s;
    -o-transition: fadein 3s;
    transition: fadein 3s;
}

/* navbar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

/* header */
h3,
h2,
h1 {
    text-align: center;
}

/* grid */
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #4D665B;
    padding: 10px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 15px;
    text-align: center;
    -webkit-transition: background-color, color 1s; /* For Safari 3.1 to 6.0 */
    transition: background-color, color 1s;
}

.grid-item:hover{
    background-color: #8D9D96;
    color: #fff;
}

/* main page */
#particles-js {
    background-image: url(../img/plant.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

.hello {
    padding-top: 30px;
}

/* footer */
footer {
    text-align: center;
    background-image: repeating-linear-gradient(white, #4D665B 150%, white);
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow: hidden;
}

/* Responsive mobile*/
@media screen and (max-width: 1335px) {

    /* grid */
    .grid-container {
        display: list-item;
        grid-template-columns: auto auto auto;
        background-color: #4D665B;
        padding: 10px;
    }

    .grid-item {
        background-color: rgba(255, 255, 255, 0.8);
        border: 1px solid rgba(0, 0, 0, 0.8);
        padding: 20px;
        font-size: 15px;
        text-align: center;
    }
}